@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #1D232F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.card{
    background-color: #313A49;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
    font-size: 17px;
    position: relative;
}

#reload{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    left: 200px;
    top: 88%;
    cursor: pointer;
}

#reload:hover{
    background: #55FDAB;
    color: #fff;
    border: 1px solid #55FDAB;
}

#advice-number{
    color:#55FDAB;
    font-size: 12px;
    text-transform: uppercase;
}

#advice-text{
    margin-bottom:30px
}